<div class="row">


  <div class="row mx-auto mt-2 ">

    <div class="col-sm-2 mt-4  mx-auto">

      <div class="row mt">

       <app-creacion-botones></app-creacion-botones>

        <div class="col text-center d-grid gap-2 mt-4 ">
<a  type="button" class="btn btn-lg btn-outline-light" (click)="irAtodos()">Todos los productos

</a> </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center d-grid gap-2 ">
<a  type="button" class="btn btn-lg btn-outline-light">Todas las marcas

</a> </div>
      </div>
      <div class="row">
        <div class="col text-center d-grid gap-2 mt-4" *ngFor="let categ of this.listaCategorias">


          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

            <button type="button" (click)="irAcategoria(categ.nombre)" class="btn btn-lg btn-outline-light">{{categ.nombre}}</button>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" type="button"
                 data-bs-toggle="modal"
                  data-bs-target="#formularioEditarCateg" (click)="inicializarCategoria(categ)">Editar</a></li>
                <li><a class="dropdown-item" type="button"

                  (click)="eliminarCategoria(categ.id)">Eliminar</a></li>
              </ul>
            </div>
          </div>




        </div>

      </div>


    </div>
    <div class="col-10 mt-4 mx-auto">
      <div class="row mx-auto ">

        <div class="col mt-2 " *ngFor="let product of this.listaProductos">

          <div class="card productos">
            <div class="card-body ">

              <img src={{product.imagen_url}} class="card-img-top">

            </div>
            <div class="card-body">
              <p style="font-size:x-large;"><strong>${{product.precio}}</strong></p>
              <p class="card-title">{{product.nombre}}</p>

              <!--
             <a routerLink="/compra" class="btn btn-primary">     Ver detalles      </a>
             <a routerLink="/productos" class="btn btn-primary">     Editar      </a> -->

              <div class="row">
                <div class="col">
                  <button class="botones btn btn-secondary">
                    Ver detalles
                  </button>
                </div>

                <div class="col-3">
                  <button class="botones"
                  mat-raised
                  matTooltipPosition ="below"
                  matTooltip="Editar producto"
                  (click)="inicializarProducto(product)" data-bs-toggle="modal"
                    data-bs-target="#formularioEditar" data-bs-whatever="usuario.id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                      class="bi bi-pencil" viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>

                  </button>
                </div>
                <div class="col-3">

                  <button class="botones"
                  mat-raised
                  matTooltipPosition ="below"
                  matTooltip="Eliminar producto"
                  (click)="eliminarProducto(product.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                      class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </button>
                </div>


              </div>


            </div>
          </div>

        </div>


      </div>
    </div>
  </div>




<!--Modal para la edicion de un producto-->
  <div class="modal fade formularioProducto" id="formularioEditar" tabindex="-1" data-bs-whatever=""
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Editar producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">



            <select class="form-select" aria-label="Default select example"
            [(ngModel)]="opcionSeleccionado" (change)="capturar()">
            <option selected>Seleccione una categoría</option>
              <option *ngFor="let categoria of listaCategorias">
                {{categoria.nombre}}
              </option>
            </select>

            <select class="form-select mt-3" aria-label="Default select example"
            [(ngModel)]="MarcaElegida" (change)="capturarMarca()">
            <option selected>Seleccione una marca</option>
              <option *ngFor="let marca of listaMarcas">
                {{marca.nombre}}
              </option>
            </select>

          <form (ngSubmit)="editarProducto()">

            <div class="mb-3 mt-3">
              ID
              <input type="number" class="form-control" [disabled]=true value={{productoEditar.id}} required
                [(ngModel)]="this.productoEditar.id" name="id" matInput>
            </div>


            <div class="mb-3">
              <input type="text" class="form-control" required [(ngModel)]="this.productoEditar.nombre" name="nombre"
                matInput placeholder="Nombre de producto">
            </div>


            <div class="mb-3">
              <input type="text" class="form-control" required [(ngModel)]="productoEditar.imagen_url" name="url imagen"
                matInput placeholder="Url de imagen">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <span class="input-group-text">{{productoEditar.precio}}</span>
              <input type="text" class="form-control" required [(ngModel)]="productoEditar.precio" name="precio"
              placeholder="Valor de venta" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="mb-3">

              <input type="" class="form-control" required [(ngModel)]="productoEditar.cantidad_en_stock"
                name="stock" placeholder="Cantidad en stock" matInput>
            </div>

            <button class="btn botones btn-success">Guardar</button>
          </form>
        </div>

      </div>
    </div>
  </div>

