.productos{
  background-color: white;
    color: rgb(0, 0, 0);
  width: 250px;
  margin: 0;

  }

  .card-img-top {
    width: 100%;
    height: 150px ;


  }




  .botones{
    border: none;
    background-color: transparent;
 }

 .botonDetalles{

 }
