


  <div class="row">

    <div class="col-md-4 mt-2" *ngFor="let product of listaProductos">

      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title">{{product.nombre}}</h5>
          <div class="card-body text-center">
 <img src={{product.imagen_url}} width="200rem" height="200rem" class="card-img-top" alt="..." >

          </div>
          <div class="card-body">
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<p><strong>${{product.precio}}</strong></p>
          </div>


          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>











